{% if include.link %}
<a href="{{ include.link }}" class="project-card">
{% else %}
<div class="project-card">
{% endif %}

  <!-- Image -->
  <div class="card__image">
    <img src="{{ include.img }}" alt="{{ include.title }}">
    <div class="card__badge">{{ include.keyword }}</div>
  </div>

  <!-- Body -->
  <div class="card__body">
    <span class="card__title">{{ include.title }}</span>

    {% if include.desc %}
      <div class="card__desc">{{ include.desc }}</div>
    {% endif %}
  </div>

{% if include.link %}
</a>
{% else %}
</div>
{% endif %}
