---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* Fully hide sitemap at footer */
.page__footer-follow,
.page__footer-links,
.page__footer {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Make author profile text larger */
/* .author__content, */
/* .author__bio, */
/* .author__intro { */
  /* font-size: 2.35rem;  // adjust as needed */
  /* line-height: 3.6; */
/* } */

/* Author name */
/* .author__name { */
  /* font-size: 1.2rem; */
  /* font-weight: 700; */
/* } */


/* .author__urls li a { */
  /* font-size: 1.1rem; */
/* } */

/* .author__urls i, */
/* .author__urls svg { */
  /* font-size: 1rem;  /* 保持原大小 */ 
/* } */
